%h1 Categories
- @categories.each do |category|
  = link_to category.name, category_path(category)
%br

%h1 Current category
= @category.name
%br

%h1 Product information

%p
  %b Name:
  = h @product.name
%p
  %b Description:
  = h @product.description
%p
  %b Price:
  = h @product.price

= link_to "Products listed on #{@category.name}", category_path(@category)
|
= link_to "List all products", categories_path

