.span-24
  .span-6.first
    = link_to image_tag('site_logo.gif', :class => 'clear_both'), root_path
  .span-2
    &nbsp;
  .span-13
    .site_title
      This is a demo store
  .span-3.bottom.right
    - if current_user
      = link_to 'Profile', account_path
      |
      = link_to 'Logout', user_session_path, :method => :delete
    - else
      = link_to 'Register', new_account_path
      |
      = link_to 'Login', new_user_session_path
